@import './normalize.scss';
@import './variables.scss';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Muli', sans-serif;

  @media print {
    -webkit-print-color-adjust: exact;

    .no-print {
      display: none;
    }

    .print-only {
      display: initial;
    }
  }
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1rem;
}

@import './typography.scss';
