.ResumeHeader {
  &__title {
    background: #241F21;
    margin-bottom: 2rem;
    padding-top: 2.5rem;
    padding: 2.5rem 2rem 1.5rem;

    h2 {
      color: #FFFFFF;
      font-weight: bold;
      letter-spacing: 0.2rem;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  &__name {
    margin-bottom: 2rem;

    h1 {
      margin: 0;
      text-transform: uppercase;
    }

    h4 {
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      margin: 0;
    }
  }
}
