@import '../../global/variables.scss';

.Resume {
  padding-top: 5rem;

  .print-only {
    display: none;
  }

  &__container {
    display: flex;
  }

  &__col-left {
    margin-right: 2rem;
    width: 300px;
    flex: none;
  }

  &__heading {
    background: $blue;
    color: $white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__section {
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: 820px) {
    &__container {
      display: block;
    }

    &__col-left {
      width: 100%;
    }
  }
}
